<h2 class="md-headline">Welcome to Centricity</h2>
<div layout-md="row" layout-sm="column">
  <div flex layout-align="center" layout-sm="column" layout-md="row" layout-lg="row" layout-gt-lg=row">
    <md-card md-theme="food" class="app-card" layout-padding="" md-whiteframe="1">
      <div class="app-card-icon">
        <md-icon class="fa fa-pencil md-primary"></md-icon>
      </div>
     <div class="app-card-title text-center">
       <h3 class="md-headline">Food Safety</h3>
     </div>
      <div class="md-item-text app-card-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, porro, ratione! Cupiditate, dignissimos fugit harum illum laboriosam magnam minus natus nemo nihil officia porro provident qui repellat tempore ullam voluptatum?</p>
      </div>
      <md-card-actions layout="row" layout-align="center center">
        <md-button ui-sref="app.foodsafety" class="app-card-button md-primary">Go!</md-button>
      </md-card-actions>
    </md-card>
    <md-card class="app-card" md-theme="food" layout-padding="" md-whiteframe="1">
      <div class="app-card-icon">
        <md-icon class="fa fa-home"></md-icon>
      </div>
      <div class="app-card-title text-center">
        <h3 class="md-headline">Harvest Estimation</h3>
      </div>
      <div class="md-item-text app-card-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, porro, ratione! Cupiditate, dignissimos fugit harum illum laboriosam magnam minus natus nemo nihil officia porro provident qui repellat tempore ullam voluptatum?</p>
      </div>
      <md-card-actions layout="row" layout-align="center center">
        <md-button ui-sref="app.harvest" class="app-card-button  md-primary">Go!</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>