<div layout="column" class="wrapper" ng-cloak>
    <section layout="row" flex>

      <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="1" >
        <md-toolbar md-theme="green">
          <h1 class="md-toolbar-tools">Centricity</h1>
        </md-toolbar>
        <md-content>
          <md-list>
            <md-list-item ui-sref="app.dashboard">
              <md-icon md-svg-icon class="fa fa-home"></md-icon>
              <p> Dashboard </p>
            </md-list-item>
          <md-subheader class="md-no-sticky"><em>Apps</em></md-subheader>
          <md-list-item ng-click="set()">
            <md-icon md-svg-icon class="fa fa-ellipsis-v"></md-icon>
            <p> Food Safety </p>
          </md-list-item>
          <md-list-item ng-click="set()">
            <md-icon md-svg-icon class="fa fa-circle"></md-icon>
            <p> Harvest Estimation</p>
          </md-list-item>

          <md-divider></md-divider>
            <md-subheader class="md-no-sticky"><em>Company</em></md-subheader>
            <md-list-item  ng-click="main.showPrompt($event)" ng-if="isAdmin">
              <md-icon md-svg-icon class="fa fa-plus"></md-icon>
              <p> Invite Members </p>
            </md-list-item>

            <md-divider></md-divider>
          </md-list>
        </md-content>

      </md-sidenav>

      <md-content flex>
        <div ng-cloak>
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="main.toggleLeft()">
              <md-icon md-svg-icon class="fa fa-bars"></md-icon>
            </md-button>

            <h2 flex md-truncate>{{title}}</h2>

            <md-menu-bar>
              <md-menu>
                <button ng-click="$mdMenu.open()">
                  <md-icon md-svg-icon class="fa fa-ellipsis-v"></md-icon>
                </button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ui-sref="app.profile.edit">
                      Profile
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-click="main.userLogout()">
                      Logout
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              </md-menu>
            </md-menu-bar>
          </div>
        </md-toolbar>

        <div ui-view layout-padding>
        </div>
        </div>
      </md-content>

    </section>

  </div>
<script type="text/ng-template" id="dialog.html">
<md-dialog aria-label="Mango (Fruit)" layout-padding="">
  <h2 class="md-headline">Invite a employee</h2>
  <h4 class="md-subhead">Provide the email of the employee to send the invitation</h4>
  <formio src="$root.inviteUsers" submission="submission" hide-components="hideComponents"></formio>
</md-dialog>
</script>