/********************
 * PAGE: PROFILE
 ********************/
.panel-profile {
  position: relative;
}

.profile-left {
  padding-left: 0;
  float: left;
  width: 35%;
  height: 100%;
  position: absolute;
  background-color: #F8F8F8;
}

.profile-right {
  float: right;
  width: 65%;
  padding: 20px 25px;
}
.profile-right .heading {
  margin-top: 0;
}

@media screen and (max-width: 992px) {
  .profile-left,
  .profile-right {
    float: none;
    width: 100%;
  }

  .profile-left {
    position: relative;
    margin-bottom: 30px;
  }
}
.profile-header {
  position: relative;
  text-align: center;
  color: #fff;
}
.profile-header .overlay {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.profile-header .profile-main {
  position: relative;
  padding: 20px;
  background-image: url('../img/profile-bg.png?1480069110');
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-header .name {
  margin: 8px 0 0 0;
  font-size: 22px;
}
.profile-header .online-status {
  font-size: 13px;
  position: relative;
  top: -2px;
}
.profile-header .online-status:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: '';
  width: 8px;
  height: 8px;
  margin-right: 3px;
}
.profile-header .online-status.status-available:before {
  background-color: #41B314;
}
.profile-header .profile-stat {
  position: relative;
  background-color: #00AAFF;
}
.profile-header .profile-stat .stat-item {
  padding: 20px;
  position: relative;
}
.profile-header .profile-stat .stat-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #33bbff;
}
.profile-header .profile-stat .stat-item:last-child:after {
  display: none;
}
.profile-header .profile-stat .stat-item span {
  display: block;
}
@media screen and (max-width: 1023px) {
  .profile-header .profile-stat .stat-item:after {
    display: none;
  }
}

.profile-detail {
  padding-bottom: 30px;
}

.profile-info {
  padding: 0 20px;
  margin: 40px 0;
}
.profile-info .heading {
  margin: 0 0 10px 0;
  font-weight: 600;
}
.profile-info ul > li {
  margin-bottom: 8px;
}

.social-icons {
  margin-bottom: 0;
}
.social-icons > li {
  padding: 0 2px 5px 2px;
}
.social-icons > li > a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  background-color: #4d4d4d;
  color: #fff;
}
.social-icons > li > a i {
  font-size: 18px;
}
.social-icons > li > a:hover, .social-icons > li > a:focus {
  background-color: #404040;
}


.profile-right .heading {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.awards {
  margin-bottom: 50px;
}
.awards div[class^="col-"] {
  text-align: center;
}

.award-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
  margin-bottom: 30px;
}
.award-item .hexagon {
  margin: 35px 0;
}

.hexagon {
  width: 100px;
  height: 55px;
  background: #ececec;
  position: relative;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #ececec;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #ececec;
}

.award-icon {
  font-size: 36px;
  line-height: 1.5em;
}

ul.activity-timeline > li {
  margin-bottom: 45px;
  position: relative;
  z-index: 0;
}
ul.activity-timeline > li .activity-icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  float: left;
  width: 34px;
  height: 34px;
  background-color: #00AAFF;
  font-size: 16px;
  color: #fff;
  line-height: 34px;
  text-align: center;
  margin-right: 10px;
}
ul.activity-timeline > li > p {
  margin-bottom: 0;
  padding-left: 40px;
}
ul.activity-timeline > li .timestamp {
  display: block;
  font-size: .85em;
  color: #a3a3a3;
}
ul.activity-timeline > li:after {
  content: "";
  display: block;
  border-left: 1px solid #eaeaea;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 5px;
  left: 16px;
  z-index: -1;
}
ul.activity-timeline > li:last-child:after {
  display: none;
}

.project-table .progress {
  margin-bottom: 0;
}
.project-table .progress-bar {
  font-size: 10px;
}
.project-table > tbody > tr > td {
  padding: 12px 8px;
}
.project-table > tbody > tr > td .avatar {
  width: 22px;
  border: 1px solid #CCC;
}
